body {
  background-color: black;
  text-align: center;
}

img {
  position: relative;
  top: 50vh;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
}
